.content {
    background-color: #fff;
    width: calc(100% - 200px);
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
    .content .content_up {
        position: relative;
        height: 104px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
        .content .content_up .content_left {
            margin-left: 15px;
            padding-top: 25px;
        }
    .content .content_left .content_left_down {
        margin-top: 10px;
        display: flex;
        height: 40px;
        width: 240px;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
    }
    .content .content_left_down .input-icon {
        height: 18px;
        width: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../content/icon/search.png');
        margin-right: 8px;
        margin-top: 3px;
    }

    .content .content_left_down .ip_field {
        border: none;
        outline: none;
        height: 90%;
        width: 100%;
    }

    .content .content_up .content_right {
        margin:20px;
        right:0;
        height:80px;
        width:180px;
    }
    .content .content_up .content_right_d {
        margin: 4px 0px 4px 10px;
        height: 40px;
        min-width: 100px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 0 16px;
        background-color: #019160;
        display: flex;
        align-items: center;
    }
    .content .content_right_d .down-icon {
        height: 20px;
        width: 20px;
        background-size: contain;
        background-repeat:no-repeat;
        background-image: url('../../content/icon/add.png');
        margin-left: 2px;
        margin-right: 8px;
    }

    .content .content_right_d .down-text {
        color :white;
        font-size:14px;
        font-weight:bold;
    }
    .content .content_up .content_right .content_right_rf {
        width: 20px;
        height: 20px;
        border: 1px solid #bbbbbb;
        border-radius:4px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2px 0px 2px 148px;
        background-image: url('../../content/icon/refresh.png');
    }

/*.content .footer {
    display: flex;
}*/


    
    

